
.topContainerSecondForm{
  display: flex;
  height:100%;
  width:100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top:5%;
  margin-bottom:0%;
  padding-bottom:5%;
}

.containerItem{
  margin: 1%;
}

.containerText{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 0%;
  width: 80%;
}

.containerRadio{
  align-items: center;
  text-align:center;
  justify-content:center;
  align-content: center;
  justify-items: center;
  margin-top: auto;
  width: 25%
}

::placeholder{
  color: black;
  opacity: 1;
  text-align:left;
}

.footballField{
  height: 100%;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 0%;
  outline:none;
  width: 80%;
  position: absolute;
  bottom: 60%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-image: url(img/football.png);
  background-size: cover;
  width:100px;
  height:100px;
  scale: 100%;
  cursor: pointer;
}
.slider::-webkit-slider-runnable-track{
appearance: none;
}
.inputTextStyle{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Graduate', cursive;
}
input[type="radio"]{
  width:100%;
}
