html {
  height: 100%;
  font-family: 'Graduate', cursive; 
  width: 100%;
  background-color: #2aa147;
  position: static;
}  

th, td {
  border: 2px solid;
  border-color: white;
  background-color: #0aa147;
}
table{
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 3px #025502;
  color: white;
  background-color: #0aa147;
}
table:first-child {
  background-color: darkgreen;
}

.edit-btn, .delete-btn{
    color: white;
    background-size: cover;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius:5px;
    outline: none;
    padding: 5%;
    font-size: 20px;
    font-family: 'Graduate', cursive; 
    background-color: #0aa147;
    text-shadow: 2px 2px 10px black;
  }

.headstyle{
  border-radius:5px;
  text-align: center;
  background-color:gray;
  box-shadow: -1px 1px 5px #5e5e5e;
  color:white;
  letter-spacing:2px;
  word-spacing: 5px;
  text-shadow: 2px 2px 10px black;
  font-family: 'Graduate', cursive;
  padding-top: 1%;
  padding-bottom: 1%;
}